<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--文章的排版-->
    <link rel="stylesheet" type="text/css" href="../static/css/typo.css"/>
    <!--详情页的动态效果-->
    <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css"/>
    <!--代码高亮-->
    <link rel="stylesheet" type="text/css" href="../static/lib/prism/prism.css"/>
    <!--自动生成目录-->
    <link rel="stylesheet" type="text/css" href="../static/lib/tocbot/tocbot.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/me.css"/>
</head>
<body>

<!--导航-->
<th:block th:replace="_fragments :: hideMenu(0)"></th:block>

<div id="pusher" class="pusher">
    <div th:replace="_fragments :: menu(0,~{::#h1},~{::#h2})"
         class="ui inverted vertical masthead center aligned segment">
        <div class="ui container animate__animated animate__fadeInLeftBig">
            <div class="ui large secondary inverted pointing menu" style="border-width: 0px;">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="item"><i class="home icon"></i>首页</a>
                <a class="item"><i class="idea icon"></i>分类</a>
                <a class="item"><i class="tags icon"></i>标签</a>
                <a class="item"><i class="calendar icon"></i>归档</a>
                <a class="item"><i class="user secret icon"></i>关于我</a>
                <div class="right m-item menu">
                    <div class="ui icon inverted transparent input">
                        <input class="" type="text" placeholder="Search...." name="" id="" value=""/>
                        <i class="search link icon"></i>

                    </div>
                    &emsp;
                    <div class="ui dropdown item" th:if="${session.user}==null">
                    </div>
                </div>
            </div>
        </div>
        <div class="ui text container">
            <h1 id="h1" class="ui inverted header m-margin-top animate__animated animate__bounce">
                “此文，望你喜欢!”
            </h1>
            <h2 id="h2" class="animate__animated animate__flipInX">This article, wish you like it!</h2>
        </div>
    </div>


    <!--中间内容-->
    <div id="waypoint" class="m-container-small m-padded-tb-big animated fadeIn">
        <div class="ui container">
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img src="" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                        <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}"></a></div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i> <span
                            th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                    </div>
                    <div class="item">
                        <i class="eye icon"></i> <span th:text="${blog.views}"></span>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <!--图片区域-->
                <img src="" th:src="@{${blog.firstPicture}}" alt="" class="ui fluid rounded image">
            </div>
            <div class="ui  attached padded segment">
                <!--内容-->
                <div class="ui right aligned basic segment">
                    <div class="ui orange basic label" th:text="${blog.flag}"></div>
                </div>

                <h2 class="ui center aligned header" th:text="${blog.title}"></h2>
                <br>
                <!--中间主要内容部分-->
                <div id="content" class="typo  typo-selection js-toc-content m-padded-lr-responsive m-padded-tb-large"
                     th:utext="${blog.content}">
                </div>
                <!--标签-->
                <div class="m-padded-lr-responsive">
                    <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}">
                    </div>
                </div>
                <!--赞赏-->
                <div th:if="${blog.appreciation}">
                    <div class="ui center aligned basic segment">
                        <button id="payButton" class="ui orange basic circular button">赞赏</button>
                    </div>
                    <div class="ui payQR flowing popup transition hidden">
                        <div class="ui orange basic label">
                            <div class="ui images" style="font-size: inherit !important;">
                                <div class="image">
                                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt=""
                                         class="ui rounded bordered image" style="width: 120px">
                                    <div>支付宝</div>
                                </div>
                                <div class="image">
                                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt=""
                                         class="ui rounded bordered image" style="width: 120px">
                                    <div>微信</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="ui attached positive message" th:if="${blog.shareStatement}">
                <!--博客信息-->
                <div class="ui middle aligned grid">
                    <div class="eleven wide column">
                        <ui class="list">
                            <li>作者：<span th:text="${blog.user.nickname}"></span><a href="#" th:href="@{/about}"
                                                                                   target="_blank">（联系作者）</a></li>
                            <li>发表时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}"></span></li>
                            <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
                            <li>公众号转载：请在文末添加作者公众号二维码</li>
                        </ui>
                    </div>
                    <div class="five wide column">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt=""
                             class="ui right floated rounded bordered image" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="ui bottom attached segment" th:if="${blog.commentabled}">
                <!--留言区域列表-->
                <div id="comment-container" class="ui teal segment">
                    <div th:fragment="commentList">
                        <div class="ui threaded comments" style="max-width: 100%;">
                            <h3 class="ui dividing header">评论</h3>
                            <div class="comment" th:each="comment : ${comments}">
                                <a class="avatar">
                                    <img src="../static/images/nullavatar.jpg" th:src="@{${comment.avatar}}">
                                </a>
                                <div class="content">
                                    <a class="author">
                                        <span th:text="${comment.nickname}"></span>
                                        <div class="ui mini basic teal left pointing label m-padded-mini"
                                             th:if="${comment.adminComment}">博主</div>
                                    </a>
                                    <div class="metadata">
                                        <span class="date"
                                              th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}"></span>
                                    </div>
                                    <div class="text" th:text="${comment.content}"></div>
                                    <div class="actions">
                                        <a class="reply" data-commentid="" data-commentnickname=""
                                           th:attr="data-commentid=${comment.id}, data-commentnickname=${comment.nickname}"
                                           onclick="reply(this)">回复</a>
                                        <a class="delete" href="#"
                                           th:href="@{/comment/{param1}/{param2}/delete(param1=${comment.blogId},param2=${comment.id})}"
                                           th:if="${session.user}">删除</a>
                                    </div>
                                </div>

                                <div class="comments" ><!--th:if="${#arrays.length(comment.replyComments)}>0"-->
                                    <div class="comment" th:each="replycomment : ${comment.replyComments}">
                                        <a class="avatar">
                                            <img src="../static/images/nullavatar.jpg"
                                                 th:src="@{localhost/${replycomment.avatar}}">
                                        </a>
                                        <div class="content">
                                            <a class="author">
                                                <span th:text="${replycomment.nickname}"></span>
                                                <div class="ui mini basic teal left pointing label m-padded-mini"
                                                     th:if="${replycomment.adminComment}">博主</div>
                                                &nbsp;<span th:if="${replycomment.replyComment}!=null" th:text="|@ ${replycomment.replyComment.nickname}|" class="m-teal"></span>
                                            </a>
                                            <div class="metadata">
                                                <span class="date"
                                                      th:text="${#dates.format(replycomment.createTime,'yyyy-MM-dd HH:mm')}"></span>
                                            </div>
                                            <div class="text" th:text="${replycomment.content}"></div>
                                            <div class="actions">
                                                <a class="reply" data-commentid="" data-replyid="" data-commentnickname=""
                                                   th:attr="data-commentid=${comment.id},data-replyid=${replycomment.id},data-commentnickname=${replycomment.nickname}"
                                                   onclick="reply(this)">回复</a>
                                                <a class="delete" href="#"
                                                   th:href="@{/comment/{param1}/{param2}/delete(param1=${replycomment.blogId},param2=${replycomment.id})}"
                                                   th:if="${session.user}">删除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="blog-form" action="#" th:action="@{/comments}" method="post" class="ui form">
                    <div id="comment-form" class="ui form">
                        <div class="ui floating message">
                            <p>开启邮件提醒功能后，他人回复你的评论会发送到你填入的邮箱。</p>
                        </div>
                        <input type="hidden" name="blogId" th:value="${blog.id}">
                        <input type="hidden" name="parentCommentId" value="-1">
                        <input type="hidden" name="replyCommentId">
                        <div class="field">
                            <textarea name="content" placeholder="请输入评论信息..."></textarea>
                        </div>
                        <div class="inline fields">
                            <div class="field m-mobile-wide m-margin-bottom-small">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="nickname" placeholder="姓名"
                                           th:value="${session.user}!=null ? ${session.user.nickname}">
                                </div>
                            </div>
                            <div class="field m-mobile-wide m-margin-bottom-small">
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="text" name="email" placeholder="邮箱"
                                           th:value="${session.user}!=null ? ${session.user.email}">
                                </div>
                            </div>
                            <div class="field m-margin-bottom-small m-mobile-wide">
                                <button id="commentpost-btn" type="button" class="ui teal button m-mobile-wide"><i
                                        class="edit icon"></i>发布
                                </button>
                            </div>
                            <div class=""field>
                                <div class="ui checkbox">
                                    <input type="checkbox" id="replyEmail" name="replyEmail">
                                    <label for="replyEmail">开启邮件提醒</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="toolbar" class="m-padded m-fixed m-right-bottom" style="display: none">
        <div class="ui vertical icon buttons ">
            <button type="button" class="ui toc teal button">目录</button>
            <a href="#comment-container" class="ui teal button">留言</a>
            <div id="toTop-button" class="ui icon button"><i class="chevron up icon"></i></div>
        </div>
    </div>
    <div class="ui toc-container flowing popup transition hidden" style="width: 250px!important;">
        <ol class="js-toc">

        </ol>
    </div>
    <div id="qrcode" class="ui wechat-qr flowing popup transition hidden " style="width: 130px !important;">
    </div>
    <br>
    <br>
    <!--底部footer-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    </footer>

    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>

    <script src="../static/lib/prism/prism.js"></script>
    <script src="../static/lib/tocbot/tocbot.min.js"></script>
    <script src="../static/lib/qrcode/qrcode.min.js"></script>
    <script src="../static/lib/waypoints/jquery.waypoints.min.js"></script>
    <!--/*/</th:block>/*/-->


    <script type="text/javascript" th:inline="javascript">

        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('#payButton').popup({
            popup: $('.payQR.popup'),
            on: 'click',
            position: 'bottom center'
        });

        //目录生成
        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '.js-toc',
            // Where to grab the headings to build the table of contents.
            contentSelector: '.js-toc-content',
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1, h2, h3',
        });

        //目录
        $('.toc.button').popup({
            popup: $('.toc-container.popup'),
            on: 'click',
            position: 'left center'
        });

        //微信
        $('.wechat').popup({
            popup: $('.wechat-qr'),
            position: 'left center'
        });

        var serurl = /*[[#{blog.serurl}]]*/"127.0.0.1:8080";
        var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
        var qrcode = new QRCode("qrcode", {
            text: serurl + url,
            width: 110,
            height: 110,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });
        //平滑滚动
        $('#toTop-button').click(function () {
            $(window).scrollTo(0, 500);
        });

        //滚动监测
        var waypoint = new Waypoint({
            element: document.getElementById('waypoint'),
            handler: function (direction) {
                if (direction == 'down') {
                    $('#toolbar').show(100);
                } else {
                    $('#toolbar').hide(500);
                }
                console.log('Scrolled to waypoint!  ' + direction);
            }
        })


        //评论表单验证
        $('.ui.form').form({
            fields: {
                title: {
                    identifier: 'content',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入评论内容'
                    }
                    ]
                },
                content: {
                    identifier: 'nickname',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入你的大名'
                    }]
                },
                type: {
                    identifier: 'email',
                    rules: [{
                        type: 'email',
                        prompt: '请填写正确的邮箱地址'
                    }]
                }
            }
        });

        $(function () {
            $("#comment-container").load([[@{/comments/{id}(id =${blog.id})
        }]])
            ;
        });

        $('#commentpost-btn').click(function () {
            var boo = $('.ui.form').form('validate form');
            if (boo) {
                console.log('校验成功');
                postData();
            } else {
                console.log('校验失败');
            }

        });

        function postData() {
            $("#comment-container").load(/*[[@{/comments}]]*/"", {
                "parentCommentId": $("[name='parentCommentId']").val(),
                "blogId": $("[name='blogId']").val(),
                "nickname": $("[name='nickname']").val(),
                "email": $("[name='email']").val(),
                "content": $("[name='content']").val(),
                "replyCommentId" : $("[name='replyCommentId']").val(),
                "replyEmail" : $("[name='replyEmail']").prop("checked")
            }, function (responseTxt, statusTxt, xhr) {
            //$(window).scrollTo($('#comment-container'),500);
                clearContent();
            });
        }

        function clearContent() {
            $("[name='content']").val('');
            $("[name='parentCommentId']").val(-1);
            $("[name='content']").attr("placeholder", "请输入评论信息...");
        }

        function reply(obj) {
            var commentId = $(obj).data('commentid');
            var commentNickname = $(obj).data('commentnickname');
            var replyId = $(obj).data('replyid');
            $("[name='content']").attr("placeholder", "@" + commentNickname).focus();
            $("[name='parentCommentId']").val(commentId);
            $("[name='replyCommentId']").val(replyId);
            $(window).scrollTo($('#comment-form'), 500);
        }
    </script>
</body>
</html>
