<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" type="text/css" href="../static/css/me.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>

<!--导航-->
<th:block th:replace="_fragments :: hideMenu(6)"></th:block>

<div id="pusher" class="pusher">
    <div th:replace="_fragments :: menu(6,~{::#h1},~{::#h2})"
         class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 id="h1" class="ui inverted header m-margin-top animate__animated animate__bounce">
                “真白”
            </h1>
            <h2 id="h2" class="animate__animated animate__flipInX">“ ”</h2>
        </div>
    </div>


    <!--中间内容-->
    <div class="m-padded-tb-massive m-container">
        <div class="ui m-container">
            <div class="ui stackable grid">
                <div class="eleven wide column m-padded-tb-big animate__animated animate__zoomIn">
                    <div class="ui raised segment">
                        <img src="" th:src="@{/images/img1.jpg}" alt="" class="ui rounded image">
                    </div>
                </div>
                <div class="five wide column center aligned animate__animated animate__slideInRight">
                    <br>
                    <div class="ui raised segments">
                        <div class="ui segment">
                            <div class="ui header">关于我</div>
                        </div>
                        <div class="ui segment">
                            <p class="m-text">“ ”</p>
                        </div>
                        <!--标签-->
                        <div class="ui segment">
                            <div class="ui orange basic left pointing label m-margin-tb-tiny">编程</div>
                            <div class="ui orange basic left pointing label m-margin-tb-tiny">游戏</div>
                            <div class="ui orange basic left pointing label m-margin-tb-tiny">看书</div>
                        </div>
                        <!--链接-->
                        <div class="ui segment">
                            <a href="https://github.com/BeforeOne7" target="_blank"
                               class="ui github circular icon button" data-content="https://github.com/BeforeOne7"
                               data-position="bottom center"><i class="github icon"></i></a>
                            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                            <a href="#" class="ui qq circular icon button" data-content="11799220"
                               data-position="bottom center"><i class="qq icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<div class="ui wechat-qr flowing popup transition hidden">
    <img src="" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image" style="width: 120px;">
</div>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.qq').popup();

</script>
</body>
</html>