<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>关于我</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

  <!--导航-->
  <nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
  </nav>

  <!--中间内容-->
  <div class=" m-container m-padding-tb-big">
    <div class="ui container"><!--表示一个容器-->
      <div class="ui stackable grid">
        <div class="eleven wide column">
          <div class="ui segment">
            <img src="https://unsplash.it/800/600?image=1005" th:src="@{/images/吉良吉影.jpg}" alt="" class="ui rounded image">
          </div>
        </div>
        <div class="five wide column">
          <div class="top ui attached segment">
            <div class="ui header">关于我</div>
          </div>
          <div class="ui attached segment">
            <p class="m-text">一之前，一个java小白</p>
          </div>
          <!--标签-->
          <div class="ui attached segment">
            <div class="ui orange basic left pointing label m-margin-tb-tiny">编程</div>
            <div class="ui orange basic left pointing label m-margin-tb-tiny">游戏</div>
            <div class="ui orange basic left pointing label m-margin-tb-tiny">看书</div>
          </div>
          <div class="ui attached segment">
            <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">MYSQL</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">Semantic UI</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">SSM</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">Origin</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
          </div>
          <!--连接-->
          <div class="ui bottom attached segment">
            <a href="https://github.com/BeforeOne7" target="_blank" class="ui github circular icon button" data-content="https://github.com/BeforeOne7" data-position="bottom center"><i class="github icon"></i></a>
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="11799220" data-position="bottom center"><i class="qq icon"></i></a>
          </div>
          <div class="ui wechat-qr flowing popup transition hidden">
            <img src="" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image" style="width: 120px;">
          </div>
        </div>
      </div>
    </div>
  </div>


  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
  </footer>

  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
      popup : $('.wechat-qr'),
      position: 'bottom center'
    });
    $('.qq').popup();

  </script>
</body>
</html>