<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--导航-->
<th:block th:replace="_fragments :: hideMenu(2)"></th:block>

<div id="pusher" class="pusher">
    <div th:replace="_fragments :: menu(2,~{::#h1},~{::#h2})"
         class="ui inverted vertical masthead center aligned segment">
        <div class="ui container animate__animated animate__fadeInLeftBig">
            <div class="ui large secondary inverted pointing menu" style="border-width: 0px;">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="item"><i class="home icon"></i>首页</a>
                <a class="item"><i class="idea icon"></i>分类</a>
                <a class="item"><i class="tags icon"></i>标签</a>
                <a class="item"><i class="calendar icon"></i>归档</a>
                <a class="item"><i class="user secret icon"></i>关于我</a>
                <div class="right m-item menu">
                    <div class="ui icon inverted transparent input">
                        <input class="" type="text" placeholder="Search...." name="" id="" value=""/>
                        <i class="search link icon"></i>

                    </div>
                    &emsp;
                    <div class="ui dropdown item" th:if="${session.user}==null">

                    </div>
                </div>

            </div>
        </div>

        <div class="ui text container">
            <h1 id="h1" class="ui inverted header m-margin-top animate__animated animate__bounce">
                “分类”
            </h1>
            <h2 id="h2" class="animate__animated animate__flipInX">Type</h2>
        </div>
    </div>

    <!--中间内容-->
    <div class="ui m-padded-tb-massive m-container">
        <!--<input type="text" name="typeId">-->
        <div id="type-container">
            <div th:fragment="typeList">
                <!-- header -->
                <div class="ui raised segments animate__animated animate__pulse">
                    <div class="ui segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui teal header">分类</h3>
                            </div>
                            <div class="right aligned column">
                                共 <h2 class="ui orange header m-inline-block m-text-thin"
                                      th:text="${#arrays.length(types)}"></h2> 个
                            </div>
                        </div>
                    </div>

                    <div class="ui teal segment m-padded-tb-large">
                        <div class="ui labeled button m-margin-tb-tiny" th:each="type : ${types}">
                            <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="ui basic  button"
                               th:classappend="${type.id==activeTypeId} ? 'teal'" th:text="${type.name}"></a>
                            <div class="ui basic  left pointing label"
                                 th:classappend="${type.id==activeTypeId} ? 'teal'"
                                 th:text="${#arrays.length(type.blogs)}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui top teal segment">
                <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${pageInfo.list}">
                    <div class="ui middle aligned mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header m-text-align"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}"
                                                                  target="_blank" class="m-black"
                                                                  th:text="${blog.title}"></a></h3>
                            <p class="m-text m-text-indent" th:text="|${blog.description}......|"></p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://unsplash.it/100/100?image=1005"
                                                 th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header"
                                                                    th:text="${blog.user.nickname}"></a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span
                                                th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-01</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span th:text="${blog.views}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin"
                                       th:text="${blog.type.name}">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}"
                                     alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <!--footer-->
              <div class="ui attached segment">
                <div class="ui inverted grid">
                  <div class="three wide column" align="center">
                    <div class="ui mini pagination menu" th:unless="${pageInfo.isFirstPage}">
                      <!--th:href="@{/admin/blogs(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"-->
                      <a onclick="pageNum(this)" th:attr="data-pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1" class="item" style="color: #0a001f">上一页</a>
                    </div>
                  </div>

                  <div class="ten wide column" align="center">
                    <div class="ui mini pagination menu">
                      <div class="item">
                        <p>第 <span th:text="${pageInfo.pageNum}"></span> 页
                      </div>
                      <div class="item">
                        共 <span th:text="${pageInfo.pages}"></span> 页
                      </div>
                      <div class="item">
                        有 <span th:text="${pageInfo.total}"></span> 篇文章</p>
                      </div>
                    </div>
                  </div>

                  <div class="three wide column" align="center">
                    <div class="ui mini pagination menu" th:unless="${pageInfo.isLastPage}">
                      <!--th:href="@{/admin/blogs(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"-->
                      <a onclick="pageNum(this)" th:attr="data-pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages}" class="item" style="color: #0a001f">下一页</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
        </div>
    </div>
    <!--底部footer-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    </footer>
    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

    </script>
</body>
</html>