<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mashiro.mapper.CommentMapper">

    <!--查询博客下的所有评论-->
    <select id="findByBlogId" resultMap="comments">
        select c.id cid
        from b_comment c, b_blog b
        where c.blog_id = b.id and c.blog_id = #{blogId}
    </select>

    <!--根据博客Id查询有没有父评论-->
    <select id="findByBlogIdAndParentCommentNull" resultMap="comments">
        select c.id cid, c.nickname, c.email, c.content, c.avatar, c.admincomment,
               c.create_time, c.blog_id, c.parent_comment_id, b.id bid, c.parent_nickname
        from b_comment c, b_blog b
        where c.blog_id = b.id and c.blog_id = #{blogId} and c.parent_comment_id = #{blogParentId}
        order by c.create_time desc
    </select>

    <!--根据自己的Id查询自己子类评论-->
    <select id="findSecondaryCommentBySelfId" resultMap="comments">
        select c.id cid, c.nickname, c.email, c.content, c.avatar, c.admincomment,
               c.create_time, c.blog_id, c.parent_comment_id, c.parent_nickname
        from b_comment c
        where c.parent_comment_id = #{commentId}
    </select>

    <!--保存评论-->
    <insert id="saveComment" parameterType="Comment">
        insert into b_comment (nickname,email,content,avatar,
                               create_time,blog_id,parent_comment_id, parent_nickname, admincomment)
        values (#{nickname},#{email},#{content},#{avatar},
                #{createTime},#{blogId},#{parentCommentId}, #{parentNickname}, #{adminComment});
    </insert>

    <!--删除评论-->
    <delete id="deleteComment">
        delete b_comment from b_comment where b_comment.id = #{id};
    </delete>

    <!--查询自身-->
    <select id="findSelfById" resultMap="comments">
        select c.id cid, c.nickname, c.email, c.content, c.avatar, c.admincomment,
               c.create_time, c.blog_id, c.parent_comment_id, c.parent_nickname
        from b_comment c
        where c.id = #{id}
    </select>

    <!--获取总评论数目-->
    <select id="getCommentCount" resultType="java.lang.Integer">
        select count(id) from b_comment
    </select>

    <resultMap id="comments" type="Comment">
        <id property="id" column="cid"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="content" column="content"/>
        <result property="adminComment" column="admincomment"/>
        <result property="avatar" column="avatar"/>
        <result property="createTime" column="create_time"/>
        <result property="blogId" column="blog_id"/>
        <result property="parentCommentId" column="parent_comment_id"/>
        <result property="parentNickname" column="parent_nickname"/>
        <association property="blog" javaType="Blog">
            <id property="id" column="bid"/>
        </association>
    </resultMap>
</mapper>
