<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mashiro.mapper.VisitLogMapper">

    <!--查询今日访问量-->
    <select id="countVisitLogByToday" resultType="java.lang.Integer">
        select count(*) from tb_visit_log where date(create_time)=curdate()
    </select>

</mapper>
